<%# Это фрагмет (паршал, partial) для вывода вопроса. В нем определена %>
<%# локальная переменная question, в которую при вызове будет передан %>
<%# как в метод ruby объект после ключа (object: @question) %>

<div class="question">
  <div class="question-content">
    <%# Текст вопроса %>
    <div class="question-text text-lead">
      <% if question.hashtags.present? %>
        <%= raw question.text.gsub(Hashtag::TAG_STRING_REGEXP) {
          |hashtag| link_to hashtag, hashtag_path(hashtag.downcase.delete("#"))
        } %>
      <% else %>
        <%= question.text %>
      <% end %>
    </div>

    <%# Текст ответа, если он есть %>
    <div class="question-answer text-lead">
      <% if question.answer.present? %>
        <% if question.hashtags.present? %>
          > <%= raw question.answer.gsub(Hashtag::TAG_STRING_REGEXP) {
            |hashtag| link_to hashtag, hashtag_path(hashtag.downcase.delete("#"))
          } %>
        <% else %>
          > <%= question.answer %>
        <% end %>
      <% end %>
    </div>
    <%# Дата создания вопроса (отформатированная) %>
    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>

    <%# Автор вопроса %>
    <div class="question-author">
      <% if question.author.nil? %>
        <%= t('question_from') %> @anonymous
      <% else %>
        <%= t('question_from') %><%= link_to "@#{question.author.username}", user_path(question.author) %>
      <% end %>
    </div>
  </div>

  <%# Если адресат вопроса — текущий пользователь, он может редактировать вопрос %>
  <%# и отвечать на него %>
  <% if question.user == current_user %>
    <%# Определяем какая будет иконка, если у вопроса нет ответа, то иконка %>
    <%# ответа на письмо, иначе — карандашик %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: { confirm: t('del_question_confirm') } %>
    </div>
  <% end %>
</div>
