<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%== text_with_hashtag_links(question.text) %>
    </div>
    <hr>
    <div class="question-answer text-lead">
      <%== text_with_hashtag_links(question.answer) %>
    </div>
    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
    <div class="question-author">
      <% if question.author.nil? %>
        <%= t('question_from') %>@anonymous
      <% else %>
        <%= t('question_from') %><%= link_to "@#{question.author.username}", user_path(question.author) %>
      <% end %>
      <% if params[:name].present? %>
        <%= t('question_to') %><%= link_to "@#{question.user.username}", user_path(question.user) %>
      <% end %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: { confirm: t('del_question_confirm') } %>
    </div>
  <% end %>
</div>
