<div class="container content-wrapper buffer-both">
  <h1 class="title-medium"><%= t('edit_profile') %></h1>

  <div class="column-1-2">
    <%= form_with model: @user do |f| %>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% @user.errors.full_messages.each { |message| %>
              <li class="form-error-message"><%= message %></li>
            <% } %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :avatar_url, class: 'form-label' %>
        <%= f.url_field :avatar_url, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :background, class: 'form-label' %>
        <%= f.color_field :background %>
      </div>

      <div class="buffer-top-large buffer-bottom">
        <%= t('new_pass_info') %>
      </div>

      <div class="form-field">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-text-field' %>
      </div>

      <div class="form-action buffer-top">
        <%= f.submit t('save_profile'), class: 'button button-dark button-small' %>
        <%= link_to t('del_profile'), user_path(@user),
                    class: 'button button-red button-small',
                    method: :delete, data: {
            confirm: t('del_profile_confirm') } %>
      </div>

      <div class="form-action buffer-top">
      <%= link_to t('back'), user_path(@user), class: 'button button-dark button-small' %>
      </div>
    <% end %>
  </div>
</div>
